<!DOCTYPE html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "header.html" . -}}
        <main>
            <div class="row">
                <div class="col col-4">
                    {{- partial "sidebar.html" . -}}
                </div>
                <div class="col">
                    {{- block "main" . }}{{- end }}
                </div>
            </div>

            <footer>
                {{- partial "footer.html" . -}}
            </footer>

        </main>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
        <script>
            MathJax = {
              tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
              }
            };
        </script>
    </body>
</html>
