{{ define "main" }}
<article>
    <h1>{{ .Title }}</h1>
    <br />
    <p class="small"><strong>Reading time:</strong> {{ math.Round (div (countwords .Content) 220.0) }} minutes</p>
    
    {{ if .Params.tags }}
    <p class="small"><strong>Tags:</strong>{{ range .Params.tags}} <a href="/tags{{. | relURL}}" class="tag">{{.}}</a> {{ end }}</p> 
    {{ end }}
    
    {{ $myvar := printf "content/%s%s" .Dir "files" }}
    {{ if (fileExists $myvar) }}
        <p class="small"><strong>Files:</strong>
            {{ range (readDir $myvar ) }}
                <a href="files/{{ .Name }}">{{ .Name }}</a> 
            {{ end }}
        </p>
    {{ end }}
    
    <br />
    <div class="hr"></div>

    <br>
    <div id="article_content">
        {{ .Content }}
    </div>
</article>
{{ end }}