{{ define "main" }}



    {{ if eq .Data.Singular "tag" }}
    <h5 style="text-transform: uppercase;">Articles tagged with "{{ .Name  }}" ({{len .Pages}})
    {{ else }}
    <h5 style="text-transform: uppercase;">Articles in category "{{ .Name  }}" ({{len .Pages}})
    {{ end }}
    </h5>


    <br />


    {{ range (.Paginate .RegularPagesRecursive).Pages.ByPublishDate.Reverse }}
        <div class=" article">
           <h4><a class="title" href="{{ .RelPermalink }}">{{ .Title }}</a></h4>
        </div>
    {{ end }}

    {{ template "_internal/pagination.html" . }}

{{ end }}