* {
    margin: 0;
    padding: 0;
}


main {
    margin-top: 3em;
    padding: 1em;
}

@font-face {
    font-family: 'Fira Code';
    src: url("../fonts/FiraCode-VariableFont_wght.ttf");
    font-display: swap;
}


body {

    font-family: "Fira Code", monospace, serif;
    font-size: 1rem;
}

#sidebar .topic_category {
    margin-top: 1.5em;
}

#sidebar .topic_category ul {
    list-style: none;
}

#sidebar .topic_category .sidebar_toc ol {
    list-style-type: "-> ";
    list-style-position: inside;
    padding-left: 1em;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    border-top: 1px solid rgb(224, 224, 224);
}

#article_content p, #content p {
    margin: 1em 0 1em 0;
}

article ul {
    list-style-position: inside;
    margin: 1em 0 1em 0;
}

article p > code:not([class]) {
    border: 1px solid #95979c;
    padding: 0 4px;
    border-radius: 4px;
}

#article_content img {
    max-width: 100%;
}

pre {

    border-radius: 10px;
}

.highlight {
    margin: 2em 0 2em 0;
    font-family: "Fira Code", monospace, serif;
    font-size: 0.99rem;
}

figure figcaption p {
    text-align: center;
    margin:auto;
    font-style: italic;
}